.flexcomplete-container {
  position: relative;
  display: inline-block;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin: 0 5px 0 2px;
  padding: 0 1px;
  font-size: 0.925em;
  vertical-align: middle;
}
.flexcomplete-container .flexcomplete-container__arrow {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
}
.flexcomplete-container .flexcomplete-container__arrow.disabled {
  cursor: default !important;
}
.flexcomplete-container .flexcomplete-container__arrow b {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  margin: -2px 0 0 -4px;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
}
.flexcomplete-list {
  background-color: #fff;
  /*border: 1px solid #bcbec0;*/
  /*margin: 0 5px 0 0;*/
  margin: 0;
  padding: 0;
  width: 100%;
  /*display: inline-block;*/
  display: block;
  cursor: text;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  overflow-y: auto;
  line-height: normal;
  border-radius: 3px;
}
.flexcomplete-list.disabled {
  background-color: rgb(235, 235, 228);
  cursor: default !important;
}
.flexcomplete-list li {
  display: block;
  float: left;
  overflow: hidden;
  margin: 1px 1px 1px 0;
  padding: 2px 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5b9bcd;
  background-color: #e5eff7;
  border: #a9cae4 solid 1px;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  /*line-height: 20px;*/
  /*line-height: 0.625em;*/
  cursor: default;
  height: 1.25em;
}
.flexcomplete-list li.flexcomplete-selected {
  background-color: #bdd6eb;
}
.flexcomplete-list li a {
  font-size: 1.0em;
  color: #5b9bcd;
  padding: 0 1px;
  text-decoration: none;
  outline: none;
  border: none;
}
.flexcomplete-list li a:hover {
  background-color: #e5eff7;
}
.flexcomplete-list .icon {
  /*vertical-align: text-bottom;*/
}
.flexcomplete-list img {
  width: 1.2em;
  height: 1.2em;
  margin-bottom: -0.325em;
}
.flexcomplete-list li.flexcomplete-input {
  border: none;
  box-shadow: none;
  background-color: #fff;
  margin: 2px 0;
  padding: 2px 0;
}
.flexcomplete-list li.flexcomplete-input.disabled {
  background-color: rgb(235, 235, 228);
  cursor: default;
}
.flexcomplete-list li.flexcomplete-input:first-child {
  padding-left: 6.5px;
}
.flexcomplete-list li.flexcomplete-input input {
  border: none;
  /*height: 1.75em;*/
  font-size: 1em;
  line-height: 1.4em;
  color: #555;
  margin: 0;
  outline: none;
  padding: 0 0 1px 1px;
  /*width: 1.75em; */
  box-shadow: none;
}
.ui-widget-content.ui-autocomplete {
  background: #ffffff;
}
.ui-widget-content.ui-autocomplete .ui-menu-item .icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.15em;
  display: inline-block;
  vertical-align: text-bottom;
}
.ui-widget-content.ui-autocomplete .ui-menu-item.ui-state-focus {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}
